@mixin centerer {
      position: absolute;
        top: 50%;
          left: 50%;
            transform: translate(-50%, -50%);
        }

.parent {
      position: relative;
  }
  .child {
        @include centerer;
    }
        .searchBar {
            background:#fee;
            padding:5px;
            margin:5px 0;
            border:1px solid #f11;
            border-radius:5px;
        }
